TabzBeads-y4c/
TabzBeads-6jp/
TabzBeads-7a2/
TabzBeads-10w/
TabzBeads-f0d/
TabzBeads-h6o/
TabzBeads-gmj/
TabzBeads-8xn/
TabzBeads-ulz/
TabzBeads-070/
TabzBeads-zlv/
TabzBeads-clp/
TabzBeads-zky/
.beads/*.jsonl
.beads/config.yaml
.beads/metadata.json
# bd worktree
TabzBeads-9q7/
# bd worktree
TabzBeads-1of/
# bd worktree
TabzBeads-b62/
# bd worktree
TabzBeads-32q/
# bd worktree
TabzBeads-tt5/
# bd worktree
TabzBeads-9b4/
# bd worktree
TabzBeads-5jn/
# bd worktree
TabzBeads-2o0/
# bd worktree
TabzBeads-u7c/
# bd worktree
TabzBeads-82v/
# bd worktree
TabzBeads-ll6/
# bd worktree
TabzBeads-no0/
# bd worktree
TabzBeads-n5i/
# bd worktree
TabzBeads-cac/
# bd worktree
TabzBeads-czz/
# bd worktree
TabzBeads-jq8/
